body {
   font-family: 'Baloo Da 2';
   overflow-x: hidden;
}

h1 {
   margin: 0;
}

h2 {
   margin: 0;
}

p {
   margin: 0;
}

button {
   all: unset;
   cursor: pointer;
   border-radius: 10px;
}

.sidebar {
   position: fixed;
   top: 35%;
   left: 20px;
   z-index: 2;
}

.sidebar button {
   display: block;
   margin: 5px 0;
   padding: 10px 15px;
   color: rgba(167, 167, 167, 0.877);
   font: 500 20px 'Baloo Da 2';
   line-height: 20px;
}

.sidebar button:hover {
   background: rgba(238, 238, 238, 0.308);
   font-weight: 600;
   color: rgba(48, 253, 157, 0.877);
}

.frame {
   position: relative;
   border: 1px solid transparent;
}

.navBar {
   display: flex;
   margin: 0 270px 0 20px;
}

#logo {
   flex: 1;
   height: 120px;
   min-width: 160px;
}

.navEntry {
   flex: 1;
   min-width: 220px;
}

.center {
   text-align: center;
}

.navEntry button {
   font-weight: 800;
   font-size: 40px;
   margin: 25px 0;
   padding: 0 15px;
   vertical-align: middle;
}

.navEntry button:hover {
   background: rgba(238, 238, 238, 0.308);
   color: rgba(48, 253, 157, 0.877);
}

#dropdown {
   flex: 3;
}

.title {
   text-align: center;
}

.title h1 {
   margin: 50px 0 20px 0;
   font-size: 110px;
   line-height: 110px;
   letter-spacing: 0.09em;

   /* text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.4); */
}

.title h2 {
   font-size: 40px;
   line-height: 40px;
   margin: 0 20px;

   /* text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4); */
}

.absdiv {
   position: absolute;
   top: 59px;
   left: 61px;
   width: 1297px;
}

#dominos {
   height: 600px;
}

#arrow {
   height: 84px;
   z-index: 1;
}

#arrow path {
   cursor: pointer;
}

svg {
   width: 100%;
   height: 100%;
   overflow: visible;
}

.column {
   display: flex;
   flex-direction: column;

   margin-top: 50px;
}

.heading {
   margin: 0 auto;
   margin-top: 50px;
}

.heading h1 {
   margin: 0 auto;
   font-weight: 700;
   font-size: 80px;
   line-height: 80px;
   text-align: center;
}

.pixelpaint {
   width: 80%;
   transform: translateX(12%);
   height: 80px;
   margin-bottom: 3.5vw;
}

.text {
   max-width: 920px;
   margin: 0 auto 3.5vw auto;
}

.text p {
   margin: 0 50px;
   font-family: 'Roboto', sans-serif;
   font-size: 30px;
   font-weight: 300;
   letter-spacing: 0.2em;
}

#blocks {
   height: 100px;
   width: 80%;
   transform: translateX(12%);
   margin: 5vw auto;
}

.bgshadow {
   filter: url(../svg/filters.svg#bgshadow_d);
}

.row {
   display: flex;
   margin: 0 auto;
   justify-content: center;
   border: 1px solid transparent;
}

.child {
   display: flex;
   width: 500px;
   align-items: center;
   justify-content: center;
}

.child svg {
   width: 200px;
   height: 160px;
   cursor: pointer;
}

#redpiece {
   width: 170px;
   height: 160px;
}

#purplepiece {
   width: 130px;
   height: 160px;
}

#bluepiece {
   width: 170px;
   height: 160px;
}

#greenpiece {
   width: 130px;
   height: 160px;
}

.child h2 {
   font-size: 40px;
   margin-left: 20px;
}

.activityHeading {
   align-items: center;
   justify-content: center;
   margin-top: 60px;
   margin-bottom: 40px;
}

.activityHeading svg {
   width: 200px;
   height: 170px;
}

.activityHeading h1 {
   text-align: center;
   font-size: 80px;
}

.date {
   margin: 12px auto;
}

.date p {
   font: 700 55px 'Chathura';
   line-height: 80px;
   letter-spacing: 0.09em;
   padding: 0 55px;
   border-radius: 25px;
   cursor: pointer;
}

#red p {
   color: #FF6B6B;
   border: 3px solid #FF6B6B;
}

#purple p {
   color: #C853FF;
   border: 3px solid #C853FF;
}

#blue p {
   color: #6B95FF;
   border: 3px solid #6B95FF;
}

#green p {
   color: #88FF75;
   border: 3px solid #88FF75;
}

#signup {
   margin: 0 auto;
   width: 60%;
   border: 1px solid;
}

.row input {
   all: unset;

   flex: 1;
   margin: 20px;

   padding: 20px;
   font: 300 30px 'Roboto';
   background: #F6F2F2;
   border-radius: 15px;
}

input[type=date]:invalid::-webkit-datetime-edit {
   color: #838383;
}

#signup input[type='submit'] {
   all: unset;

   margin: 20px auto;

   padding: 10px 50px;
   font-size: 30px;
   font-weight: 800;
   letter-spacing: 0.09em;
   color: white;
   background: #FF6767;
   border-radius: 25px;

   cursor: pointer;
}

.svgdiv {
   position: absolute;
   top: 0;
   left: 0;
   z-index: -2;
}



.noselect {
   -webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Old versions of Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
   user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
 }